<h1>Instances disponnible</h1>
<% @instances.each do |instance| %>
    <a href="/candidats/<%= instance.id %>"><%= instance.model_mounth %>-<%= instance.model_year %>-<%= instance.name %>-<%= instance.city %></a><br>
<% end %>
</table>
<%= link_to 'Retour', controller: "welcome", action: "index" %>
