<%= link_to "Crée une entreprise", controller: "entreprises", action: "new" %><br>
<%= link_to "Edité une entreprise", controller: "entreprises", action: "index" %><br>
<%= link_to "Crée une instance", controller: "instances", action: "new" %><br>
<%= link_to "Edité une instance", controller: "instances", action: "index" %><br>
<%= link_to "Crée un administrateur", controller: "administrations", action: "new" %><br>
<%= link_to "Edité un administrateur", controller: "administrations", action: "index" %><br>
<%= link_to "Crée un questionnaire", controller: "questionnaires", action: "new" %><br>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>